@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

.fadeIn {
  animation-name: fadeIn;
}

.toaster-container .bx-shad{
  box-shadow: 3px 3px 10px 0px rgba(163, 163, 163, 0.5);
}

.toaster-container .main-box{
  padding: 12px;
}

.toaster-container h1{
  font-size: 14px;
  font-weight: bold;
}

.toaster-container p{
  font-size: 14px;
  color: #565656;
  text-align: left;
}

.toaster-container i:not(.ing-close){
  margin-right: 15px;
}

.toaster-container .ing-close{
  color: #d4d4d4;
  font-size: 10px;
  margin: 8px;
}

.toaster-animate{
  animation-duration: 800ms;
}

.custom-black {
  background: #000 !important;
  border-radius: 20px !important;
  min-width: 30%;
}

.custom-black h1 {
  font-size: 1em;
  line-height: 1.2em;
}

.custom-black p {
  color: #e4e4e4;
}