.modal-default .modal-body {
  padding: 40px 20px 40px;
  text-align: center;
}
.modal-default .modal-body .close {
  position: absolute;
  top: 15px;
  right: 20px;
  line-height: 18px;
}
.modal-default .modal-body .close .ing {
  font-size: 22px;
  color: #8B8B8B;
  vertical-align: top;
}
.modal-default .modal-body .modal-default-ing {
  font-size: 49px;
  margin-bottom: 1.25rem;
}
.modal-default .modal-body h4 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 1rem;
}
.modal-default .modal-body p {
  margin: 0 0 0 6px;
}
.modal-default .modal-body .modal-body-footer {
  padding-top: 20px;
}
.modal-default .modal-body .modal-body-footer .btn {
  margin: 0 7.5px;
}
.ReactModalPortal,
.ReactModalPortal .modal-overlay {
  z-index: 1052;
  overflow: hidden;
}
.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: all .3s ease-out;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-overlay.modal-fullscreen .modal-dialog {
  width: 95%;
  height: 100%;
  max-width: 100%;
}
.modal-overlay.modal-fullscreen .modal-dialog .modal-content {
  height: 90%;
}
.modal-overlay.modal-fullscreen .modal-dialog .close {
  position: absolute;
  top: -10px;
  right: -10px;
  line-height: 18px;
  background-color: #000;
  width: 22px;
  height: 22px;
  z-index: 3;
  opacity: 1;
  color: #fff;
  border-radius: 100%;
  border: 2px solid #fff;
  font-size: 18px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.7);
}
.modal-overlay.modal-fullscreen .modal-dialog .close > span {
  margin-top: -2px;
  display: block;
}
.modal-overlay.modal-fullscreen .modal-dialog .ingaia-loader {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-overlay.modal-fullscreen .modal-dialog iframe {
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  z-index: 2;
}
.modal-content {
  width: 100%;
  border-radius: 5px;
}
.ReactModal__Content {
  transition: -webkit-all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  opacity: 0;
  outline: 0;
}
.ReactModal__Content--after-open {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1;
}
.ReactModal__Content--before-close {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  opacity: 0;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.ReactModal__Body--open.hasScrollbar{
    overflow: hidden;
    padding-right: 17px;
}
.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (20rem));
}
