.not-found {
  background-color: #2f343b;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  color: #fff;

  > img {
    margin-top: 2rem;
  }

  h1, p {
    font-weight: 300;
  }

  p {
    font-size: 1.250rem;
  }

  .logo {
    display: block;
    margin: auto;
    width: 40px;
    margin-top: 1rem;
  }
}
